<%= render 'shared/nav' %>

<div class="" id="inicio">
    <h1>#HolaNoticias</h1>
    <div class="video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL2DEiHS_oetIOdaHaVj6scWS5uDg02TgJ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</div>



<section id="galeria" class="padding-b">


        <div class="menu">
            <a href="<%= root_path %>">
                <div class="menu-s <%= 'active' if current_page?(root_path) %>"><p>Galería</p></div>
            </a>
            
        </div><br>


        <div class="container-g" id="container-ms">


            <% @galleries.each do |g| %>
                <div class="item w1">
                        <a href="<%= attachment_url(g, :image) %>" data-lightbox="HolaArandas" data-title="<%= g.desc %>">
                            <%= image_tag(attachment_url(g, :image)) %>
                        </a>
                    <div class="info">
                        <p><%= g.desc %>
                        </p>
                        <div class="imgs-cont">
                           
                            <a href="<%= attachment_url(g, :image, format: 'jpg') %>" download data-toggle="tooltip" data-placement="top" title="¡Descargar!">
                                <%= image_tag('down.svg', class: "icon") %>
                            </a>
                        </div>
                    </div>
                </div>

            
            <% end %>
        </div>
</section>

<div class="back back-fixed1 text-center">
    <div class="container-fluid">
        <h3>"Voz del pueblo, voz del cielo."</h3>
    </div>
</div>

<section id="contacto" class="padding-b">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 class="upper2"><b>contacto</b></h3>

            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <%= image_tag 'pan.png', class: "img-flex img-footer" %>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-8 col-md-12 contacto-mail">
                <p class="text-center">¿Tienes alguna duda, queja, comentario?, no dudes en comunicarte con nosotros.
                </p>
                <a href="mailto:<%= EMAIL %>">
                    <div class="button y"><%= EMAIL %></div>
                </a>
                
            </div>
            <div class="col-lg-2 col-sm-12 col-xs-12">
                <div class="row-m">
                    <a href="https://twitter.com/<%= TWITTER_USERNAME1 %>" data-toggle="tooltip" data-placement="top" title="<%= TWITTER_USERNAME1 %>">
                        <div class="bttn blue-t">
                            <%= image_tag 'twitter.svg' %>
                        </div>
                    </a>
                    <a href="<%= FACEBOOK_URL2 %>" data-toggle="tooltip" data-placement="top" title="Hola Arandas">
                        <div class="bttn blue-f">
                            <%= image_tag 'face.svg' %>
                        </div>
                    </a>
                    <a href="<%= YOUTUBE %>" data-toggle="tooltip" data-placement="top" title="Hola Arandas">
                        <div class="bttn red-y">
                            <%= image_tag 'youtube.svg' %>
                        </div>
                    </a>
                 
                </div>
                       
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright todos los derechos reservados 2015</p>
    </div>
</footer>












