<nav>
		<ul class="cd-primary-nav">
			<li><a class="nav" href="#inicio">Hola Noticias</a></li>
			<li><a class="nav" href="#galeria">Galería</a></li>
			<li><a class="nav" href="#contacto">Contacto</a></li>
		</ul>
</nav>