
<section class="log-in">

  <div class="text-center logo-pan">
    <%= image_tag 'pan-logo.png' %>
  </div>

  <div class="container padding-log-in text-center">

    <h2 class="text-center">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
      <%= f.email_field :email, autofocus: true, placeholder: "email", class: "form-control" %></div>

      <div>
        <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %></div>


      <div><%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %></div>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>