<%= form_for(@gallery) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @gallery.image_id? %>
    <p>
      <%= image_tag attachment_url(@gallery, :image, :fill, 100, 100)  %><br>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    </p>
  <% end %>
  <div class="field">
    <%= f.attachment_field :image %>
  </div>

  <div class="field">
    <%= f.text_area :desc, class: "form-control", placeholder: 'descripcion' %>
  </div>
  
  <div class="actions">
    <%= f.button 'crear', class: "btn btn-primary" %>
  </div>
<% end %>
