<%= render 'admin/nav' %>
<div class="container table-responsive">
  <p id="notice"><%= notice %></p>

  <h1>Listing Galleries</h1>
  <%= link_to 'Nueva foto', new_gallery_path, class: "button pull-right" %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Descripcion</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% cache do  %>
        <% @galleries.each do |gallery| %>
          <tr>
            <td><%= image_tag attachment_url(gallery, :image, :fill, 50, 50) %></td>
            <td><%= gallery.desc %></td>
            <td class="edicion">
              <%= link_to gallery do %>
                <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="ver"></i>
              <% end %>
              <%= link_to edit_gallery_path(gallery) do %>
                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="editar"></i>
              <% end %>
              <%= link_to gallery, method: :delete, data: {confirm: 'Estas seguro?'} do %>
                <i class="fa fa-remove" data-toggle="tooltip" data-placement="top" title="destruir"></i>
              <% end %>
            </td>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>


</div>

