<%= render 'admin/nav' %>

<div class="container">
	<p id="notice"><%= notice %></p>


	<p>
	  <strong>Image:</strong>
	  <%= image_tag attachment_url(@gallery, :image, :fill, 100,100) %>
	</p>

	<p>
	  <strong>Desc:</strong>
	  <%= @gallery.desc %>
	</p>

	<%= link_to 'Edit', edit_gallery_path(@gallery) %>

</div>

