// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
	overflow-x: hidden;
}

#os-wrapper #os-footer .os-powered-by {
	display: none;
}
.os-powered-by {
	display: none;
}


.upper {
	text-transform: uppercase;
	font-size: 3.5em;
	position: relative;
	// left: 50%;
	// transform: translateX(-50%);
	// -webkit-transform: translateX(-50%);
	// -moz-transform: translateX(-50%);
	// font-weight: bold;
}
.upper2 {
	text-transform: uppercase;
	font-size: 2em;
	position: relative;
}


.h-container {
	width: 23em;
	height: auto;
}
.yellow {
	color: #F59403;
}
.white {
	color: white;
}
.block-center {
	margin: 0 auto;
	float: none;
}
.margin-top-1 {
	margin-top: 2em;
}
.padding-b {
	padding: 3em 0;
}

#map_wrapper {
    height: 600px;
}

#map_canvas {
    max-width: 100%;
    height: 100%;
}


.container .text-muted {
	margin: 40px 0;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}





/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  h1 {
  	color: white;
  	font-size: 4em;
  	text-transform: uppercase;
  	font-weight: bold;
  }
}





/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



// footer

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	// height: 60px;
	background: rgba(30,30,30,0.95);
	// z-index: -99999;
}
section {
	// z-index: 99999;
}





// button trigger and menu

.cd-primary-nav.fade-in {
	a {
		color: rgba(250,250,250,0.6);
		text-decoration: none;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		&:hover {
			color: white;
		}
	}
}

#inicio {
	text-align: center;
	background: #343a91; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #343a91 33%, #2058c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,#343a91), color-stop(100%,#2058c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #343a91 33%,#2058c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #343a91 33%,#2058c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #343a91 33%,#2058c9 100%); /* IE10+ */
	background: linear-gradient(135deg,  #343a91 33%,#2058c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a91', endColorstr='#2058c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	padding: 8em 14em;
	h1 {
		position: relative;
		top: -1em;
		color: #323E8F;
		background: white;
		border-radius: 30px;
		width: 9em;
		margin: 0 auto;
		font-size: 1.6em;
		padding: 0.6em 0;
	}
	.video {
		// max-width: 1000px;
		margin: 0 auto;
	}
	
}



#galeria {
	position: relative;
	background: rgba(30,30,30,0.9);
	height: auto;
	padding: 5em 0;
	.container-g {
		width: 80%;
		margin: 0 auto;
	}
	.menu {
		// border-radius: 10px;
		letter-spacing: -0.355em;
		text-align: center;
		// background: white;
		width: 20em;
		// padding: 1em 2em;
		// height: 5em;
		// background: white;
		margin: 0 auto;
		// clear: both;
		// display: block;
		// position: relative;
		.menu-s {
			p {
				padding: 0.3em 1em;
				position: relative;
				top: 5px;
				font-size: 11px;
				color: rgba(250,250,250,0.9);
			}
			display: inline-block;
			width: 44%;
			height: 100%;
			border: 1px solid transparent;
			border-radius: 20px;
			margin: 0 5px;
			// background: white;
			letter-spacing: normal;
			transition: all .3s;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;

			&:hover {
				border: 1px solid white;
			}
			&.active {
				background: white;
				p {color: #36465D;}
			}
		}
	}
	.item {
		// margin: 3px 0;
		padding: 0 0.6em;
		img {
			height: auto;
			width: 100%;
			max-width: 100%;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		&.w1 {
			width: 24%;
		}
		.info {
			padding: 1em;
			background: white;
			border-bottom-left-radius: 3px; 
			border-bottom-right-radius: 3px; 
			.imgs-cont{
				// float: right;
				text-align: right;
				width: 100%;
				.icon {
					width: 1.3em;
					margin: 0 0.5em;
				}
			}
		}
	}
}


.back {
	padding: 14em 0; 
	width: 100%;
	h3, p {
		// margin: 6em 0;
		color: white;
		text-shadow: 4px 3px 6px #333;
	}
}
.back-fixed1 {
	background: asset-url('back-2.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
}



#contacto {
	position: relative;
	background: rgba(30,30,30,0.9);

	p { color: white;}
	h3 {color: white}
	a {
		text-decoration: none;
		color: white;
	}
	.img-footer {
		width: 13em;
	}
	.button {
		padding: 1em;
		border: 2px solid transparent;

		// width: 20em;
		border-radius: 3px;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		margin-bottom: 0.5em;
		&:hover {
			border: 2px solid white;
		}
	}
	.y {
		background-color: #023689;
	}
	.blue-t {background: #00C3E7}
	.blue-f {background: #395A93}
	.red-y {background: #E1493F}
	.green-v {background: #00BF93}
	.row-m {
		margin-bottom: 5px;
		// display: block;
		// clear: both;
		a {
			float: left;
			display: inline-block;
			margin: 0 1px;
			width: 4em;
			height: 4.3em;
		}
	}
	.bttn {
		border-radius: 3px;
		border: 2px solid transparent;
		padding: 5px;
		width: 4em;
		height: 4em;
		display: inline-block;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		&:hover {
			border: 2px solid white;
			// background: transparent;
		}
		img {
			position: relative;
			top: 7px;
			left: -2px;
			max-width: 100%;
			width: 2em;
		}
	}
}


.contadores {
	.cd-nav-trigger {
		display: none;
	}
}



@media (max-width: 768px){
	
	#inicio {
		padding: 2em 0 0 0;
		h1 {
			top: 0;
			// margin-top: 1em;
		}
	}
	#contacto p {
		text-align: center;
	}
	.contacto-mail {margin: 0 auto; float: none;}
	#inicio .video {
		padding: 1em;
	}
	#galeria {
		.container-g {
			width: 95%;
			text-align: center;
		}
		.item {
			padding: 0;
			&.w1 {
				width: 98%; 
				max-width: 98%;
				position: relative;
				left: 50% !important;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
			}
		}
		p {
			font-size: 9px;
		}
	}
}

@media (min-width: 768px) {

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .cont-text {
		padding-top: 10%;
		// -webkit-transform: translateY(-40%);
	 //  -moz-transform: translateY(-40%);
	 //  transform: translateY(-40%);
	}
	.cont-img {
		overflow: hidden; 
		height: 50em;
		// background: green;

	}
	.img-flex {
		max-width: 100%;
	}
}
@media (max-width: 1199px){
	#contacto .row-m a {
		float: none;
	}
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
 
}